.board {
    width: 400px;
    height: 600px;
    background-color: lightgray;
    position: absolute;
  }
  
  .enter {
    margin: 20px auto;
    padding: 10px;
  }
  
  .hex {
    /* width: 100px; */
    height: 100px;
    background-color: gray;
  /*   hexagon shape, flat on top */
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
    position: absolute;
  }
  
  #center {
    background-color: gold;
    left: 200px;
    top: 200px;
  }
  
  #top {
    left: 200px;
    top: 100px;
  }
  
  #bottom {
    left: 200px;
    top: 300px;
  }
  
  #topright {
    left: calc(200px + 100px * cos(30deg));
    top: calc(200px - 100px * sin(30deg));
  }
  
  #bottomright {
    left: calc(200px + 100px * cos(30deg));
    top: calc(200px + 100px * sin(30deg));
  }
  
  #bottomleft {
    left: calc(200px - 100px * cos(30deg));
    top: calc(200px + 100px * sin(30deg));
  }
  
  #topleft {
    left: calc(200px - 100px * cos(30deg));
    top: calc(200px - 100px * sin(30deg));
  }
  
  
  
  .test {
    width: 5px;
    height: 5px;
    background-color: red;
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 2;
  }