/* wow you can set the whole page background color */
html {
  background-color: gray;
}



body {
  font-family: sans-serif;
  font-size: 16px;
  --bg: #121212;
  --txt: rgb(248, 248, 248);
}

.guess {
  width: 400px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  
}

.score {
    width: 400px;
    height: 100px;
    background-color: var(--bg);
    position: absolute;
    top: 0;
    left: 0;
}

.board {
    width: 400px;
    height: 600px;
    background-color: var(--bg);
    position: absolute;
    top: 100px;
    left: 0px;
  }

.words {
    width: 400px;
    height: 700px;
    padding: 20px;
    background-color: #232323;
    position: absolute;
    top: 0;
    left: 400px;
    color: var(--txt);
    box-sizing: border-box;
}
  
.hex {
    height: 100px;
    background-color: rgb(56, 55, 65);
    /* hexagon shape, flat on top */
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
    position: absolute;
    color: var(--txt);
    /* z-index: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
  }


  
  /* styles for the 7 hexes */

  #center {
    background-color: rgb(248, 218, 34);
    left: 150px;
    top: 250px;
    color: black;
  }
  
  #top {
    left: 150px;
    top: calc(250px - (100px * 1.10));;
  }
  
  #bottom {
    left: 150px;
    top: calc(250px + (100px * 1.10));
  }
  
  #topright {
    left: calc(150px + (100px * cos(30deg)) * 1.10);
    top: calc(250px - (100px * sin(30deg) * 1.10));
  }
  
  #bottomright {
    left: calc(150px + (100px * cos(30deg) * 1.10));
    top: calc(250px + (100px * sin(30deg) * 1.10));
  }
  
  #bottomleft {
    left: calc(150px - (100px * cos(30deg) * 1.10));
    top: calc(250px + (100px * sin(30deg) * 1.10));
  }
  
  #topleft {
    left: calc(150px - (100px * cos(30deg) * 1.10));
    top: calc(250px - (100px * sin(30deg) * 1.10));
  }
  
  
.btn-container {
  position: absolute;
  top: 500px;
  left: 100px;
}

.btn {
  background-color: var(--bg);
  color: var(--txt);
  border-radius: 40%;
}